/* ナビバー */
.bg_darkgrey {
  background-color: #545454;
}

.bg_green {
  background-color: rgb(42, 75, 18, 0.125);
  /* border: 2px inset #589442; */
}

.breadcrumb a {
  color: #589442;
}

.breadcrumb {
  border-radius: 0 0 10px 10px;
}

/* トップ画像 */

.carousel-item img {
  object-fit: inherit;
}

/* ニュース */

.news {
  padding-top: 2rem;
}

.news_heading {
  padding: 0 15px 34px;
}

.news_bottom {
  padding-bottom: 2rem;
  border-radius: 0 0 10px 10px;
}

.news_item {
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 2px solid #ededed;
}

.news_item p {
  margin: 0;
}

.text_grey {
  color: #777777;
}

/* 単品メニュー */

.menu img {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.heading {
  margin: 4rem 0 1rem 0;
  padding-bottom: 10px;
  border-bottom: 4px dotted #589442;
}

.heading_text {
  margin: 0 0 0 15px;
}

.english {
  color: #777777;
  font-weight: normal;
  /* margin-left: 8px; */
}

.radius {
  border-radius: 10px;
}

.menu_item {
  margin-bottom: 30px;
}

.menu_title {
  border-radius: 5px;
}

.title_btn {
  border-radius: 10px;
}

.menu .price_btn {
  margin-top: 10px;
  border-radius: 5px;
}

.menu_padding {
  padding-left: 4px;
}

/* 口コミ */

.text-black {
  color: black;
}

.avater img {
  width: 30px;
}

.review_card {
  width: 100%;
  padding: 20px;
}

/* 内装 */

.interior {
  margin-top: 20px;
}

.interior img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.interior_all {
  background-image: url(/img/naisou_3.jpg);
  background-position: top center;
  width: 960px;
  height: 600px;
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: 50%;
  padding: 10% 0;
}

.interior_box {
  padding: 30px;
  color: white;
  background-color: rgb(112, 112, 112, 0.7);
  border-radius: 10px;
  align-items: center;
  float: right;
  margin: 9% 5% 5%;
}

.btn-success {
  background-color: #589442;
}

/* SNSと地図 */

.fb-page_setting {
  border-radius: 10px;
}

/* フッター */

.footer_top {
  margin-top: 50px;
  padding: 30px 0 15px;
  background-color: black;
  border-radius: 10px 10px 0 0;
  color: rgb(255, 255, 255, 0.6);
}

.footer .logo {
  align-items: center;
}

.footer .logo img {
  width: 160px;
  border-radius: 10px;
}

.footer .align {
  align-items: center;
  /* padding: 0; */
}

.footer .business_hour {
  border: 1px solid rgb(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 5px 10px;
}

.footer_right {
  padding: 0 10px;
}

.footer .icon img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.footer .adress {
  align-items: center;
}

.footer .adress p {
  font-size: 14px;
}

.bfooter_bottom {
  background-color: black;
  justify-content: flex-end;
  border-top: 0.1px solid rgb(255, 255, 255, 0.3);
  border-radius: 0 0 10px 10px;
  color: rgb(255, 255, 255, 0.6);
}

/* ブログ */

.article img {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.blog_article .card {
  border-radius: 10px;
  /* height: 600px; */
}

.article_bottom img {
  width: 40px;
  border-radius: 10px;
}

.admin {
  vertical-align: middle;
  font-size: 18px;
}

.blog_right_heading {
  border-bottom: 2px solid #ededed;
  padding-bottom: 10px;
  color: #777777;
  font-size: 20px;
  padding: 0 20px;
}

.blog_right img {
  object-fit: cover;
  height: 88px;
  border-radius: 10px 0 0 10px;
}

.blog_right p {
  font-size: 12px;
}

.blog_right .category_item p {
  padding: 0 20px;
}

.pagination .page-link {
  color: #589442;
}

.pagination .active .page-link {
  background-color: #589442;
  color: white;
}

/* メニュー一覧 */

.menu ol {
  border-radius: 0;
}

.menu_titlebar {
  background-color: #707070;
  background-size: auto;
  border-radius: 0 0 10px 10px;
  color: white;
}
.menu_titlebar a {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112,112,112,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.course_content p {
  margin-bottom: 0;
}

/* コンタクト */
.contact img {
  width: 100%;
  object-fit: cover;
}

.contact_way {
  background-color: #ededed;
  border-radius: 0 0 10px 10px;
}

.contact_way img {
  width: 50px;
}

.contact_way_item {
  text-align: center;
  margin: 80px 20px;
  background-color: white;
  border-radius: 10px;
  height: 220px;
}
